.user_profile {
    position: relative;
    margin-top: -1rem;
    border-radius: 1rem;
    margin-bottom: 2rem;
    background-color: white;
    border: 1px solid #ebe9e6;
    -webkit-box-shadow: 0 1px 2px 0 rgb(0 0 0 / 5%);
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 5%);
}
.banner {
    width: 100%;
    height: 285px;
    position: relative;
    padding: 0;
    overflow: hidden;
    border-radius: 12px 12px 0 0;
}
.banner::before {
    bottom: 0px;
    position: absolute;
    content: '';
    z-index: 1;
    left: 0;
    width: 100%;
    height: 60%;
    opacity: 0.5;
    border-radius: inherit;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), color-stop(60%, #212529));
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, #212529 60%);
    background-blend-mode: color-burn;
}

.banner img {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    max-width: 100%;
}
.profiles_content {
    display: flex;
    margin-top: -138px;
    z-index: 2;
    padding: 0;
    padding-bottom: 25px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
}
.profile_avatar {
    width: 160px;
    height: 160px;
    margin-right: 0px;
    margin-bottom: 15px;
    position: relative;
    z-index: 1;
}
.profile_avatar_holder {
    border-radius: 100%;
    -webkit-box-shadow: 0 2px 20px 0 rgb(0 0 0 / 30%);
    box-shadow: 0 2px 20px 0 rgb(0 0 0 / 30%);
    border: 4px solid #FFF;
    overflow: hidden;
    position: relative;
    background: #dcdcdc;
    width: 100%;
    height: 100%;
}
.profile_avatar_holder img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
}
.profile_info {
    -webkit-box-flex: 1;
    flex: 1 1 0%;
}
.profile_info h1 {
    font-size: 30px;
    margin-bottom: 7px;
    margin-top: 10px;
    color: #464646;
    text-transform: capitalize;
    font-weight: 600;
}
.profile_info p {
    font-size: 16px;
    margin-bottom: 10px;
    color: #9c9c9c;
    line-height: 27px;
    text-align: center;
}

.description {
    margin-left: 15px;
}