
.post {
    display: flex;
    background-color: white;
    margin-bottom: 10px;
}
.post img {
    width: 40px;
    height:40px;
    position: absolute;
    max-width: 100%;
    border-radius: 9999px;
}
.post_ava {
    width: 2.5rem;
    height: 2.5rem;
    flex-shrink: 0;
    border-radius: 99999px;

}
.comment {
    --tw-text-opacity: 1;
    color: rgba(55,65,81,var(--tw-text-opacity));
    padding: 0.5rem 0.75rem;
    --tw-bg-opacity: 1;
    background-color: rgba(206,244,246,var(--tw-bg-opacity));
    border-radius: 0.375rem;
    position: relative;
    margin-left: 1.25rem;
    margin-right: 3rem;
}
.comment p {
    line-height: 1.5rem;
    font-size: 15px;
    margin: 0;
}
.comment_txt {
    font-size: inherit !important;
}
.triangle {
    --tw-bg-opacity: 1;
    background-color: rgba(206,244,246,var(--tw-bg-opacity));
    --tw-rotate: 45deg;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    transform: translateX(var(--tw-translate-x)) translateY(var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    width: 0.75rem;
    height: 0.75rem;
    left: -0.25rem;
    top: 0.75rem;
    position: absolute;
}
.bottom_items {
    font-size: .875rem;
    line-height: 1.25rem;
    align-items: center;
    display: flex;
    margin-left: 2.25rem;
    margin-top: 0.5rem;
}
.bottom_items a {
    --tw-text-opacity: 1;
    color: rgba(220,38,38,var(--tw-text-opacity));
    text-decoration: inherit;
    background-color: transparent;
}
.svg_heart {
    position: relative;
    width: 17px;
    height: 17px;
    text-align: center;
}
.svg_heart svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: inline-block;
    width: 25px;
    height: 25px;
}
.uil_heart svg {
    width: 17px;
    height: 17px;
    --tw-text-opacity: 1;
    stroke: rgba(220,38,38,var(--tw-text-opacity));
    stroke-width: 2;
}
.uil_heart:hover {
    color: cornflowerblue;
}
.uil_heart:hover svg {
    stroke:cornflowerblue;
}
.like {
    margin-left: 12px;
    vertical-align: center;
}
.replay {
    margin-left: 10px;
}
.replay:hover {
    color: cornflowerblue;
}